body {
  background-color: tomato;
}
.article-results-view {}
.article-results-view ul {
	list-style-type: none;
	margin-top: 20px;
}
#articleListing li {
	position: relative;
	min-height: 140px;
	border: 1px solid blue;
}
#articleListing .upvote-arrow {
	position: absolute;
	left: 0;
}
#articleListing .downvote-arrow {
	position: absolute;
	right: 0;
}
#articleListing li img {
	display: block;
	margin: 0 auto;
}
#articleListing li span {
	display: block;
	margin: 0 auto;
}